p{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-top: 40px;
}

.article1{
    text-align: center;
    line-height: 20px;
    
    &_airbnb{
        width: 90px;
        height: 30px;
        margin: 10px;
        @media all and (min-width:1200px){
           margin:0px 50px 0px -20px;
        }
    }
    &_nasa{
        width: 65px;
        height: 54px;
        margin: 10px;
        @media all and (min-width:1200px){
            margin:0px 50px 0px 50px;
        }
    }
    &_uber{
        width: 75px;
        height: 25px;
        margin: 10px;
        @media all and (min-width:1200px){
            margin:0px 50px 0px 50px;
        }
    }
    &_target{
        width: 50px;
        height: 50px;
        margin: 10px;
        @media all and (min-width:1200px){
            margin:0px 50px 0px 50px;
        }
    }
    &_nyt{
        width: 250px;
        height: 45px;
        margin: 10px;
        @media all and (min-width:1200px){
            margin:0px 50px 0px 50px;
        }
    }
    &_esty{
        width: 85px;
        height: 35px;
        margin: 10px;
        @media all and (min-width:1200px){
            margin:0px 50px 0px 50px;
        }
    }
    @media all and (min-width:1200px){
        margin-top: 80px;
    }

}

